<a href="{{ url('new_lead') }}?apikey={{ apikey }}">New Lead</a>
<br/>
<a href="{{ url('new_manager') }}?apikey={{ apikey }}">New Manager</a>
<br/>
<a href="{{ url('new_provider') }}?apikey={{ apikey }}">New Provider</a>
<br/>
<a href="{{ url('new_showroom') }}?apikey={{ apikey }}">New Showroom</a>
